.home {
  align-items: center;
  font-family: "Palanquin", sans-serif;
  color: #000022;
}

/*******************************************************************/
/* Maybe add header height?*/
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000022;
}

.header h2 {
  display: flex;
  font-size: 50px;
  height: 25px;
  color: #000022;
  align-items: left;
}

.header .prompt {
  font-size: 30px;
}

.header .logo1 img {
  width: 400px;
  height: auto;
  object-fit: contain;
}

/*******************************************************************/
.about {
  font-size: 35px;
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: left;
  color: #000022;
}

.skills span {
  font-size: 35px;
}

.about p {
  font-size: 18px;
  width: 85%;
  text-align: center;
}

.homePictures {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.homePictures .pic1 img {
  height: 300px;
  width: auto;
  object-fit: contain;
}

.homePictures .pic2 img {
  height: 300px;
  width: auto;
  object-fit: contain;
}

.homePictures .pic3 img {
  height: 300px;
  width: auto;
  object-fit: contain;
}

.about h2 {
  margin: 0%;
}

/*******************************************************************/
/* IDK what this stuff is*/

.about .list {
  list-style: none;
  width: 60%;
}

.list span {
  font-size: 10px;
}

@media only screen and (max-width: 900px) {
  .about h2 {
    font-size: 40px;
  }

  .about .prompt {
    margin-top: 10px;
    font-size: 20px;
    width: 80%;
  }

  .about {
    text-align: center;
  }

  .about h2 {
    font-size: 30px;
  }
}

.homePictures {
  display: flex;
  flex-flow: row;
  margin: 0;
  margin-bottom: 1rem;
}

.pic {
  flex: 1;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  text-align: center;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  border: none;
  background: none;
}

.fhomePictures {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 1rem;
  /* justify-content: center; */

}

.fpic {
  width: 24%;
  padding: 6px;
  text-align: center;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  border: none;
  background: none;
}

.buttonEdit {
  border: none;
  background: none;
  cursor: pointer;
}

.pic:hover {
  background-color: lightsalmon;
  border-radius: 10px;
}

.homePictures img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 2px solid darkred;
}

.card-text {
  font-size: large;
  font-family: "Alike", sans-serif;
}

.homeResults {
  background-color: transparent;
  font-size: large;
  font-family: "Alike", sans-serif;
}

.headingdiv {
  display: flex;
  align-items: center;
}
