@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@700&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  /*this does |content      content      content|*/
  align-items: center;
  background: white;
  font-family: 'Palanquin', sans-serif;
  width: 100%;
  height: 100px;
}

/* NavigationLinks.css */
.nav-link {
  width: 70%;

  display: inline-block;
  text-align: center;
  padding: 15px;
  background-color: rgb(255, 209, 122);
  color: black;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: orange;
  cursor: pointer;

}

.links {
  font-size: 25px;
  display: flex;
  color: #B76300;
  cursor: pointer;

  align-items: center;
  justify-content: center;
}

.types {
  width: 100%;
  display: flex;
  justify-content: center;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 1rem;
  cursor: pointer;
  color: #B76300;
  gap: 12px;
}

.social-icons:hover,
.links a:hover,
.logo:hover {
  color: #000022;
  /* background: #B76300; */
  border-radius: 6px;
}

.active {
  color: #000022 !important;
  background-color: #B76300 !important;
  border-radius: 6px;
}


/*where did navbar a come from*/
.navbar a {
  color: #000022;
  text-decoration: none;
  margin: 20px;
  padding: 4px;
}

.logo {
  margin-right: 0.5rem;
  justify-content: flex-start;

}

.logo img {
  width: 120px;
  height: 80px;
  object-fit: contain;
}

.menu {
  display: none;
}

.menulinks {
  font-size: 18px;
}

.menu button {}

.menuContainer {
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}


@media screen and (max-width: 915px) {
  .links {
    display: none;
  }

  .socials {
    display: none;
  }

  .menu {
    display: flex;
  }

}