.reviewForm {
    justify-content: center;
    border-radius: 10px;
    display: flex;
    margin-left: 25%;
    margin-right: 25%;
    font-family: "Alike", sans-serif;
    font-size: large;
}

.description {
    display: block;
    align-items: center;
    resize: none;
    border-radius: 5px;
    border: 1px solid black;
    font-family: "Alike", sans-serif;
}

.descriptionLabel {
    display: block;
    font-family: "Alike", sans-serif;
    font-size: large;
}

.hoursInput {
    width: 20%;
    font-family: "Alike", sans-serif;
}

.restInput {
    width: 77.5%;
    border-radius: 5px;
    border: 1px solid black;
    font-family: "Alike", sans-serif;
    font-size: large;
}

.restInputNew {
    width: 77.5%;
    font-family: "Alike", sans-serif;
}

.addressInput {
    width: 77.5%;
    font-family: "Alike", sans-serif;
}

.reviewSubmit {
    text-align: center;
    background-color: f2f2f2;
    justify-content: center;
    border-radius: 5px;
    margin-top: 5%;
    margin-left: 45%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: "Alike", sans-serif;
    font-size: medium;
}

.reviewSubmit:hover {
    background: orange;
    cursor:pointer;
}

.formDiv {
    background-color: bisque;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 10px;
}

.selectedReviewDiv {
    border: 1px solid lightgrey;
    padding-left: 1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    padding-right: 1em;
    width: auto;
    text-align: center;
    align-items: center;
}

.buttons1 {
    text-align: center;
    background-color: f2f2f2;
    border-radius: 5px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 13%;
    margin-right: 13%
}