.mainStyle{
    font-family: "Alike", sans-serif;
    text-align:center;
}

h1 {
    text-align:center;
    color: black;
    font-family: "Palanquin", sans-serif;
}

#div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid lightgray;
  
}

.TagButtons {
display: flex;
align-items: center;
justify-content: center;
font-family: "Alike", sans-serif;
}

.try {
display:inline-block;
width:10em;
height: 3em;
background:#f2f2f2;
border:0px;
border-radius:10px;
text-align:center;
font-size: 1em;
margin: 10px;
font-family: "Alike", sans-serif;
}

.try:hover {
background: lavender;
cursor:pointer;
}

input[type="checkbox"] {
display: none;
}

input[type="text"] {
width: 30em;
}

input[type="button"] {
display:inline-block;
width:10em;
height: 3em;
border:0px;
border-radius:10px;
text-align:center;
font-size: 1em;
margin: 10px;
}

input[type="button"]:hover {
background-color: peachpuff;
cursor:pointer;
}

input[type="checkbox"]:checked + .flavorLabel {
background-color: powderblue;
}

input:hover + .flavorLabel {
background: powderblue;
cursor:pointer;
}

input[type="checkbox"]:checked + .cuisineLabel {
background-color: lightsalmon;
}

input:hover + .cuisineLabel {
background: lightsalmon;
cursor:pointer;
}

input[type="checkbox"]:checked + .restrictLabel {
background-color: lightcoral;
}

input:hover + .restrictLabel {
background: lightcoral;
cursor:pointer;
}

.flavorLabel {
display:inline-block;
width:auto;
height: 2em;
border:0px solid #000;
background:#f2f2f2;
border-radius:10px;
text-align:center;
padding-top: 1em;
font-size:1.2rem;
margin-top: 1em;
padding-left: 1em;
padding-right: 1em;
margin: 5px;
}

.cuisineLabel {
display:inline-block;
width:auto;
height: 2em;
border:0px solid #000;
background:#f2f2f2;
border-radius:10px;
text-align:center;
padding-top: 1em;
font-size:1.2rem;
margin-top: 1em;
padding-left: 1em;
padding-right: 1em;
margin: 5px;
}

.restrictLabel {
display:inline-block;
width:auto;
height: 2em;
border:0px solid #000;
background:#f2f2f2;
border-radius:10px;
text-align:center;
padding-top: 1em;
font-size:1.2rem;
margin-top: 1em;
padding-left: 1em;
padding-right: 1em;
margin: 5px;
}

.selectedLabels {
display:inline-block;
width:auto;
height: 2em;
border:0px solid #000;
background:#f2f2f2;
border-radius:10px;
text-align:center;
padding-top: 1em;
font-size:1.2rem;
margin-top: 1em;
padding-left: 1em;
padding-right: 1em;
margin: 5px;
}

.submit {
width: auto;
height: 2em;
border:0px solid #000;
background:#f2f2f2;
border-radius:10px;
text-align:center;
font-size:1.2rem;
display: flex;
justify-content: center;
align-items: center;
}

.selected {
display:inline-block;
border-radius:10px;
padding-left: 1em;
padding-right: 1em;
padding-top: 1em;
font-size:1rem;
}

.selectedDiv {
border: 1px solid lightgrey;
padding-left: 1em;
padding-bottom: 0.5em;
padding-top: 0.5em;
padding-right: 1em;
height: 100%;
width: 50%;
text-align: center;
align-items: center;
margin-left: 25%;
margin-right: 25%;
}

.selectedDivWrite {
border: 1px solid lightgrey;
padding-left: 1em;
padding-bottom: 0.5em;
padding-top: 0.5em;
padding-right: 1em;
height: 100%;
width: 50%;
text-align: center;
align-items: center;
margin-left: 25%;
margin-right: 25%;
}

.review {
align-items: center;
text-align:center;
}

.results {
border: 1px solid lightgrey;
padding-left: 1em;
padding-bottom: 0.5em;
padding-top: 0.5em;
padding-right: 1em;
height: 100%;
width: auto;

display:inline-block;
background:#f2f2f2;
border:0px;
border-radius:10px;
text-align:center;
font-size: 1em;
margin: 10px;
}

.results:hover {
background-color: peachpuff;
cursor:pointer;
}

.mainDiv {
border: 0px;
text-align: center;
align-items: center;
margin-left: 25%;
margin-right: 25%;
}
